<section class="green_Menu t">
    <nav>
    <li><a class="a1" href="index.html">首 页</a></li>
    <li><a class="a2" href="找全职.html">找全职</a></li>
    <li class="end"><a class="a3" href="找实习.html">找实习</a></li>
    </nav>
    <div class="clear"></div>
    </section>
    <!--/*搜索*/-->
<section class="search">
<input type="text" class="text" value="输入关键字搜索" onblur="if(this.value=='')this.value='输入关键字搜索';" onfocus="this.value='';" /><input type="button" class="btn" value=" " />
</section>
<!--/*搜索 end*/-->