<!DOCTYPE html>
<html>
	<head>
		<title>我的虚拟世界店铺</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <link rel="stylesheet" type="text/css" href="../css/css_whir.css">   
         <script src="../js/jquery-1.4.2.min.js"></script>
        <script src="../js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div class="auto"><header class="Wrap_Top">
<div class="logo"><a  href="index.html"></a></div>
<span class="outside"><a href="登录.html">登录</a></span>
<span class="inside" style="display:none;"><a href="#" class="username">用户名</a><a href="#">退出</a></span>
</header>
<div class="Contain">
    <section class="banner">
    <img src="../images/temp/ban.jpg" width="620">
    </section>
    <section class="scroll_list">
    <div class="txtScroll_top">
    <em>最新消息 : </em>
    <div class="bd">
    <ul>
    <li><span>2014-02-18</span><a href="最新资讯_详细页.html">2014年名企职位汇总</a></li>
    <li><span>2014-02-18</span><a href="#">2014年名企职位汇总</a></li>
    <li><span>2014-02-18</span><a href="#">2014年名企职位汇总</a></li>
    </ul>
    </div>
    </div>
    <script type="text/javascript">jQuery(".txtScroll_top").slide({mainCell:".bd ul",autoPage:false,effect:"top",autoPlay:true});</script>
    </section>
    <!--/*首页导航*/-->
    <section class="Menu">
    <nav>
    <li class="li1"><a href="找全职.html"><span><b></b></span><br/>找全职</a></li>
    <li class="li2"><a href="优才行.html"><span><b></b></span><br/>优才行</a></li>
    <li class="li3"><a href="找实习.html"><span><b></b></span><br/>找实习</a></li>
    <li class="li4"><a href="宣聘会.html"><span><b></b></span><br/>宣聘会</a></li>
    <li class="li5"><a href="校企风采.html"><span><b></b></span><br/>校企风采</a></li>
    <li class="li6"><a href="求职辅导.html"><span><b></b></span><br/>求职辅导</a></li>
    </nav>
    <div class="clear"></div>
    </section>
    <!--/*首页导航 end*/-->
    </div>
    <footer class="home_bottom"><em>分享到：</em><div class="bdsharebuttonbox"><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到豆瓣网" href="#" class="bds_douban" data-cmd="douban"></a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date())];</script></footer>
    </div>

</body>
</html>
