<!DOCTYPE html>
<html>
	<head>
		<title>我的虚拟世界店铺</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <link rel="stylesheet" type="text/css" href="../css/css_whir.css">   
         <script src="../js/jquery-1.4.2.min.js"></script>
</head>
<body>
    <div class="auto"><header class="Wrap_Top">
<div class="logo"><a  href="index.html"></a></div>
<span class="outside"><a href="登录.html">登录</a></span>
<span class="inside" style="display:none;"><a href="#" class="username">用户名</a><a href="#">退出</a></span>
</header>
<!--/*顶部导航*/--><section class="green_Menu t">
    <nav>
    <li><a class="a1" href="index.html">首 页</a></li>
    <li><a class="a2" href="找全职.html">找全职</a></li>
    <li class="end"><a class="a3" href="找实习.html">找实习</a></li>
    </nav>
    <div class="clear"></div>
    </section>
    <!--/*搜索*/-->
<section class="search">
<input type="text" class="text" value="输入关键字搜索" onblur="if(this.value=='')this.value='输入关键字搜索';" onfocus="this.value='';" /><input type="button" class="btn" value=" " />
</section>
<!--/*搜索 end*/--><!--/*顶部导航 end*/-->
<section class="Column_name"><a  href="javascript:history.go(-1);"></a>个人中心</section>
<!--/*个人中心 导航*/-->
   
<section class="member_nav">
<nav>
<li class="a1"><div><a href="个人中心_我的简历.html">我的简历</a></div></li>
<li class="a2"><div><a href="job.html">职位收藏</a></div></li>
<li class="a3"><div><a href="个人中心_个人搜索.html">个人搜索</a></div></li>
<li class="a4"><div><a href="个人中心_职位申请记录.html">职位申请记录</a></div></li>
<li class="a5"><div><a href="个人中心_站内信.html"><b class="n"></b>站内信</a></div></li>
<li class="a6"><div><a href="个人中心_修改密码.html">修改密码</a></div></li>
<li class="a7"><div><a href="个人中心_绑定邮箱.html">绑定邮箱</a></div></li>
<li class="a8"><div><a href="个人中心_面试通知.html"><b class="n"></b>面试通知</a></div></li>
</nav>
<div class="clear"></div>
</section>

<!--/*个人中心 导航 end*/-->
<!--/*底部导航*/-->
    <section class="green_Menu b">
    <nav>
    <li><a class="a4" href="个人中心.html">个人中心</a></li>
    <li><a class="a5" href="校企风采.html">校企风采</a></li>
    <li><a class="a6" href="宣聘会.html">宣聘会</a></li>
    <li class="end"><a class="a7" href="优才行.html">优才行</a></li>
    </nav>
    <div class="clear"></div>
    </section><!--/*底部导航 end*/-->
 <script type="text/javascript">jQuery(".b li").eq(0).attr("id","on");</script></div>
</body>
</html>
