<!DOCTYPE html>
<html>
	<head>
		<title>我的虚拟世界店铺</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Expires" content="-1">           
        <meta http-equiv="Cache-Control" content="no-cache">           
        <meta http-equiv="Pragma" content="no-cache">
        <link rel="stylesheet" type="text/css" href="../css/css_whir.css">   
         <script src="../js/jquery-1.4.2.min.js"></script>
</head>
<body><header class="Wrap_Top">
<div class="logo"><a  href="index.html"></a></div>
<span class="outside"><a href="登录.html">登录</a></span>
<span class="inside" style="display:none;"><a href="#" class="username">用户名</a><a href="#">退出</a></span>
</header>
<!--/*顶部导航*/--><section class="green_Menu t">
    <nav>
    <li><a class="a1" href="index.html">首 页</a></li>
    <li><a class="a2" href="找全职.html">找全职</a></li>
    <li class="end"><a class="a3" href="找实习.html">找实习</a></li>
    </nav>
    <div class="clear"></div>
    </section>
    <!--/*搜索*/-->
<section class="search">
<input type="text" class="text" value="输入关键字搜索" onblur="if(this.value=='')this.value='输入关键字搜索';" onfocus="this.value='';" /><input type="button" class="btn" value=" " />
</section>
<!--/*搜索 end*/--><!--/*顶部导航 end*/-->
<section class="Column_name"><a  href="javascript:history.go(-1);"></a>宣聘会</section>
<!--/*详细页*/-->
   <section class="content">
   <div class="Title">2014年名企职位汇总</div>
   <div class="createdate">发布时间：2014-06-05</div>
          深圳市福田区位于深圳经济特区中部，东部从红岭路起与罗湖区相连，西部至华侨城与南山区相接，北到笔架山、莲花山与宝安区龙华镇相连，南临深圳河、深圳湾与香港新界的米埔、元朗相望。
       福田区地势北高南低，其中海滨、丘陵、山地占全区面积的25%左右。属亚热带海洋性季风气候，光照长，雨水充沛，冬暖夏长，温和湿润。年平均气温22.2℃，平均日照时数2134小时，无霜期达355天以上，年均降雨量1926毫米，常年盛行东南风。福田地域历来为宝安（新安）县地，1990年10月设立福田区。1992年，福田区开展了农村城市化，全区15个行政村均实现了农村转向城市、农民转向城市居民的历史性转变。辖区面积78.8平方公里，辖7个街道办事处，116个居委会。截至2004年末，福田辖区常住人口99.63万人，其中户籍人口42.24万人，暂住人口57.39万人，比上年末增加1.45万人。
       <div class="info_back"><a href="#">【返回列表】</a></div>
</section>  
<!--/*详细页 end*/-->
<!--/*底部导航*/-->
    <section class="green_Menu b">
    <nav>
    <li><a class="a4" href="个人中心.html">个人中心</a></li>
    <li><a class="a5" href="校企风采.html">校企风采</a></li>
    <li><a class="a6" href="宣聘会.html">宣聘会</a></li>
    <li class="end"><a class="a7" href="优才行.html">优才行</a></li>
    </nav>
    <div class="clear"></div>
    </section><!--/*底部导航 end*/-->
 <script type="text/javascript">jQuery(".b li").eq(2).attr("id","on");</script>
</body>
</html>
