<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zp.dao.JobFairMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zp.entity.JobFair">
        <id column="mid" property="mid" />
        <result column="city" property="city" />
        <result column="time" property="time" />
        <result column="school" property="school" />
    </resultMap>

</mapper>
