<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zp.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zp.entity.User">
        <id column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="birth" property="birth" />
        <result column="education" property="education" />
        <result column="school" property="school" />
        <result column="major" property="major" />
        <result column="work_year" property="workYear" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="home" property="home" />
    </resultMap>

</mapper>
